<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>My Page</title>
    <th:block th:replace="client/fragments/header :: header"></th:block>

</head>
<body>

    <div>
        <form method="post">
            <input type="text" name="memberId" id="memberId" placeholder="아이디">
            <input type="text" name="memberPw" id="memberPw" placeholder="비밀번호">
            <input type="button" value="회원가입" onclick="joinAction()">
        </form>
    </div>

    <script>

        function joinAction() {
          var id = $("#memberId").val();
          var pw = $("#memberPw").val();

          var data = {
            memberId: id,
            memberPw: pw
          };

          $.ajax({
            type: "POST",
            url: "/joinAction",
            data: JSON.stringify(data),
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            success: function(result) {
              alert("회원가입에 성공했습니다.");
              console.log(result);
            },
            error: function(xhr, status, error) {
            }
          });
        }

    </script>





<th:block th:replace="client/fragments/footer :: footer"></th:block>
</body>
</html>